/* fonts*/
@font-face {
  font-family: 'Avenir Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Regular'),
  url('./fonts/avenirnextltpro/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Bold'),
  url('./fonts/avenirnextltpro/AvenirNextLTPro-Bold.woff') format('woff');
}


html{
  height: 100%;
}
//5888B8
body{
  background: radial-gradient( #2D7FB4 5%, #3A5A9C 95%);
  min-width: 100%;
  min-height: 100%;
  letter-spacing: 1px;
}

header{
  width: 100%;
  text-align: center;
  color: white;
  h2{
    font-family: 'Avenir Bold', sans-serif;
    font-weight: 500;
  }
  h3{
    font-family: 'Avenir Next LT Regular', sans-serif;
    font-weight: 100;
  }
  span{
    width: 90%;
    margin-left: 5%;
    display: block;
    border: none;
    color: white;
    height: 3px;
    background: radial-gradient(#ffffff 2%, #2D7FB4 20%, #3A5A9C 78%);
    box-shadow: 2px 2px 2px 0px #3A5A9C;
  }
}

section{
  width: 100%;
  min-height: 100%;
  margin: 0px;
  box-sizing: border-box;
  .doctor-img{
    width: 100px;
    height: 100px;
  }
  .first-doctor, .second-doctor{
    background-color: #2D7FB4;
    opacity: 0.9;
    position: relative;
    margin: 5%;
    width: 40%;
    height: 150px;
    float: left;
    box-sizing: border-box;
    //border-left: 1px solid white;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
    //box-shadow: 2px 2px 2px 0px #36648B;
    box-shadow:
      3px 3px 3px 1px #3A5A9C,
      inset  2px 2px 7px rgba(255, 255, 255, 0.6),
      inset  -2px -2px 7px rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px;
    img{
      float: left;
      height: 100px;
      border-radius: 50%;
      border: 3px solid white;
      margin: 12.5px 20px 10px 10px;
    }
    h2{
      font-weight: 700;
      font-family: 'Avenir Bold', sans-serif;
      text-shadow: 1px 1px #333;
    }
    p{
      font-family: 'Avenir Regular', sans-serif;
      font-weight: 100;
      text-shadow: 1px 1px #333;
    }
  }
  .first-doctor:focus, .second-doctor:focus{
    border: none;
  }
  .first-doctor:hover{
    border: none;
  }
}
.chancho{
  color: white;
}
